@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-bar w3-black">
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button w3-mobile">Stack</a>
    <a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button w3-mobile">Queue</a>
    <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button w3-mobile">Dictionary</a>
    <a href="@Url.Action("Index", "Exit")" class="w3-bar-item w3-button w3-mobile">Exit</a>
</div>

<h1>Data Structures</h1>